In [10]:
import pandas as pd
import numpy as np
import mysql.connector as mariadb

In [6]:
df = pd.read_csv('airport-codes_csv.csv')
df.head()

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,NaN,NaN,"-91.254898, 35.6087"

In [9]:
airport_codes = df[pd.notnull(df['iata_code'])][['name','iata_code']].values
airport_codes

array([['Utirik Airport', 'UTK'],
       ['Ocean Reef Club Airport', 'OCA'],
       ['Pilot Station Airport', 'PQS'],
       ...,
       ['Taoxian Airport', 'SHE'],
       ['Yanji Chaoyangchuan Airport', 'YNJ'],
       ['Yingkou Lanqi Airport', 'YKH']], dtype=object)

In [11]:
mariadb_connection = mariadb.connect(user='exception_lab', password='exception', database='airbus')

In [12]:
cursor = mariadb_connection.cursor()

In [14]:
for airport,iata in airport_codes:
    cursor.execute("INSERT INTO airports (airport_name,iata) VALUES (%s,%s)", (airport,iata))

In [15]:
mariadb_connection.commit()